#wrapper {
  #universal_nav .nav-item.dropdown.active {
    .dropdown-menu {
      a {
        color: #000 !important;
      }
    }
    a {
      color: white !important;
    }
  }
  span.latest-release {
    width: 100px;
    height: 19px;
    border: 1px solid #2cbe4e;
    border-radius: 2px;
    color: #2cbe4e;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    top: -4px;
    position: relative;
  }
  span.pre-release {
    width: 100px;
    height: 19px;
    border: 1px solid #f66a0a;
    border-radius: 2px;
    color: #f66a0a;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    top: -4px;
    position: relative;
  }
}
