---
import Dropdown from "./Dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import LinaroLogo from "../../assets/images/device-tree-logo.png";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

const navData = await getEntry("data", "links");
---

<header class="flex w-full bg-[#00b1df]">
  <div
    class="container flex flex-col lg:flex-row justify-end items-center mx-auto pr-[171px]"
  >
    <Astronav>
      <MenuItems
        class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 font-medium text-black"
      >
        <ul class="flex flex-col lg:flex-row lg:gap-3 items-right">
          {
            navData.data.map((item: any, index: number) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.label}
                    children={item.children}
                    lastItem={index === item.children.length - 1}
                  />
                )}

                {!item.children && (
                  <div class="my-5 relative pl-1">
                    <div class="nav-hover transition ">
                      <a
                        href={item.url}
                        class="flex lg:px-3 py-2 text-inherit "
                      >
                        {item.label}
                      </a>
                    </div>
                  </div>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </div>
</header>
