<div id="homepage-jumbotron">
  <div id="jumbotron-image"></div>
  <div class="container">
      <div class="col-md-12">
        <img src="{% asset_path 'devicetree-icon-white.png' %}" id="devicetree-vertical-image" class="img-responsive center-block animated fadeIn" alt="Device Tree Logo">
      </div>
      <div class="col-md-12">
        <h2 id="home-page-title" class="text-center">The Devicetree Specification</h2>
        <h4 id="home-page-text" class="text-center">A devicetree is a data structure for describing hardware</h4>
        <br />
        <a href="/specifications/" class="spec-button center-block" >Specification</a>
      </div>
  </div>
    {% include _theme-includes/_page-structure/shape-divider.html %}
</div>
