/* FONTS */
/* Custom fonts should be declared in this Sass file */

@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/lato-regular/Lato-regular.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-regular/Lato-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/lato-regular/Lato-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-regular/Lato-regular.svg') format('svg'); /* Legacy iOS */
}