---
const { style, buttons_content } = Astro.props;
---

<div class="flex justify-center my-10">
  <div class:list={[style]}>
    {
      buttons_content.map(({ title, url, style: buttonStyle }) => {
        return (
          <a
            class:list={[
              buttonStyle,
              " rounded-md mx-auto text-center text-xl hover:bg-[#3d93b9] ",
            ]}
            href={url}
          >
            {title}
          </a>
        );
      })
    }
  </div>
</div>
