---
import Cookies from "./Cookies.astro";
import GoogleAnalytics from "./GoogleAnalytics.astro";
import { SEO } from "astro-seo";
import "../../styles/global.scss";

const {
  title = "The DeviceTree Project",
  description = "A devicetree is a data structure for describing hardware.",
  type = "website",
} = Astro.props;
---

<head>
  <title>{title}</title>
  <meta property="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <Cookies />
  <GoogleAnalytics id="G-PT82VBC5KD" />
  <SEO
    title={title}
    description={description}
    openGraph={{
      basic: {
        title: title,
        type: type,
        image: "https://www.devicetree.org/images/devicetree_home.png",
      },
    }}
    twitter={{
      creator: "@LinaroOrg",
    }}
    extend={{
      link: [
        { rel: "icon", href: "/favicon.png" },
        {
          rel: "me",
          href: "https://mastodon.org.uk/@LinaroLtd@mastodon.social",
        },
      ],
      meta: [
        {
          name: "twitter:image",
          content:
            "https://www.devicetree.org/images/devicetree_share_image.png",
        },
        { name: "twitter:title", content: title },
        { name: "twitter:description", content: description },
      ],
    }}
  />
</head>
