$brand-primary: #00b1df;
$navbar-inverse-bg: #131313;
$footer-bg-color: #131313;
$sub-footer-color: #fbfbfb;


$home-page-title-text: #fff;
$home-page-main-title-color: #fff;

/*  -------- Shape Divider ------- */
#mk-shape-divider-4 .shape__container {
  margin-bottom: 0px;
  }

#mk-shape-divider-4 .shape__container .shape {
  overflow:hidden; height:130;
  }

#mk-shape-divider-4 .shape__container .shape svg {
  position:relative; top:0.4px;
}

/* ---------------------- Home Page Op-tee image ---------------------- */
#devicetree-vertical-image {
  width: auto;
  height: 150px;
  margin-top: 80px;
}


h1.home-page-text.text-center {
    color: #FFF;
    font-size:46px;
    font-weight:700;
}
h1#home-page-title {
    color: #FFF;
    font-size:46px;
    font-weight:700;
}
h4#home-page-text {
    font-weight: 100;
}

/* Projects Icons */

.project-icon {
    color: #0084ab;
}
.project-title {
    color: #0084ab;
}
.project-more-info {
    color: #0084ab;
    font-size: 12px;
}

/* ------------ Projects Icons -------------- */
.project-icon{
  display: inline-block;
  width: 100%;
  text-align: center;
}
#projects a:hover{
    text-decoration: none !important;
}

#banner-area-homepage{
    padding-top:60px;
}

/* ------------- Supporting Members Section --------------- */
.member-image{
  width: 50%;
  text-align: center;
}
.members {
  padding:40px;
  background-color: #fff;
}

.collaborate-button {
    padding: 7px;
    color: #131313;
    width: 160px;
    height: auto;
    letter-spacing: 2px;
    background-color: transparent;
    border-radius:2px;
    border: 1px solid #131313;
    transition: all 500ms ease;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 16px;
}
.collaborate-button:hover{
    background-color: #131313;
    color: #fff;
    text-decoration: none;
    transition: all 500ms ease;
}
.spec-button {
    padding: 15px;
    color: #fff;
    width: 200px;
    height: auto;
    letter-spacing: 2px;
    background-color: transparent;
    border-radius:2px;
    text-align: center;
    border: 1px solid #fff;
    transition: all 200ms ease;
}
.spec-button:hover{
    background-color: #fff;
    color: #131313;
    text-decoration: none;
    transition: all 500ms ease;
}


#jumbotron-image{

    background-image: url(/assets/images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;

    &:before {
        content: '';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to bottom right,#000,#000);
    	opacity: .5;
      }
}

.device-tree-content-image {
    background-image: url(/assets/images/devicetree-content-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #ccc;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .5;
}
.device-tree-content {
    position: relative;
}

.device-tree-home-container{
    position: relative;
    overflow: hidden;
}

div#homepage-jumbotron {
    position: relative;
}

.homepage-shape {
    margin-bottom: -8px;
    top: 6px;
    position: relative;
}


iframe#contact-form{
    top: 30px;
}

.home-content-container{
    text-align: center;
}
