---
layout: blog
title: Blog
permalink: /blog/
pagination:
    enabled: true
---
{% for post in paginator.posts %}
    <div class="row blog_post">
        <div class="col-xs-4">
            <a href="{{post.url}}">
                <img class="img-responsive blog-img lazyload"
                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                {% if post.image %}
                data-src="/assets{{post.image}}"
                {% else %}
                data-src="{% if site.data.company.placeholder %}{{site.data.company.placeholder}}{% else %}/assets/images/placeholder.png{% endif %}"
                {% endif %}
                 alt="{{post.title}}" />
            </a>
        </div>
        <div class="col-xs-8 no-padding">
            <a href="{{post.url}}"><h3 class="post_title">{{ post.title}}</h3></a>
            <em class="post_date">{{ post.date | date: "%A, %B %-d, %Y"}}</em><br />
            <p class="post_excerpt">
            {{ post.content | strip_html | truncatewords:20 }}
            </p>
            <p>
                <a href="{{post.url}}">
                    <button class="btn blog-read-more-btn">Read More</button>
                </a>
            </p>
        </div>
    </div>

  </p>
{% endfor %}
