---
import dayjs from "dayjs";

function dateConvertor(text: string) {
  const dateObj = dayjs(text);
  const dateString = dateObj.format("dddd, MMMM D, YYYY");
  return dateString;
}

const api =
  "https://api.github.com/repos/devicetree-org/devicetree-specification/releases";

async function fetchData() {
  const response = await fetch(api);
  console.log(response);
  const data = await response.json();
  console.log(data);
  return data;
}

const data_releases = await fetchData();
console.log(data_releases);
---

{
  data_releases.map((item: any, index: number) => (
    <div class="lg:px-[190px]" id={item.id}>
      <div class="text-xl mb-4  ">
        <a href={item.html_url} class="text-primary">
          {item.tag_name}
        </a>
        <span class="text-black">
          - Released {dateConvertor(item.created_at)}
        </span>
        {index == 0 && (
          <span class="text-[#2cbe4e] p-[5px] border border-[#2cbe4e] text-xs align-middle relative ml-2">
            Latest Release
          </span>
        )}
        {item.tag_name.includes("pre") && (
          <span class="text-[#f66a0a] p-[5px] border border-[#f66a0a] text-xs align-middle relative ml-2">
            Pre-Release
          </span>
        )}
      </div>
    </div>
  ))
}
