---
import "@fontsource/lato";
import "../styles/global.scss";
---

<head>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <title>Device Tree</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />
</head>
