---
import { Image } from "astro:assets";
import LinaroLogo from "../../src/assets/images/logo.png";
import Icon from "astro-icon";
---

<div class=`flex flex-col text-white bg-black`>
  <div class="flex flex-wrap flex-row items-center justify-center mt-4 gap-4">
    <a href="https://github.com/OpenAMP/website">
      <Icon
        name="mdi:github"
        class="w-6 text-white mb-[1rem] hover:text-openampred"
      />
    </a>

    <a
      href="https://github.com/OpenAMP/website/issues/new?title=Problem+with+_pages/news_tags.sm&body=Please+enter+some+details+about+the+bug/issue+so+we+can+promptly+resolve+it.+%0D%0AURL%3A++https://www.openampproject.org/news/tags/"
      class="flex item-center mb-[1rem] no-underline text-white font-medium p-2 cursor-pointer hover:text-openampred hover:underline hover:transition-all rounded-md"
      >Report an Issue</a
    >
    <a
      href="https://github.com/OpenAMP/website/blob/master/_pages/news_tags.sm"
      class="flex item-center mb-[1rem] no-underline text-white font-medium p-2 cursor-pointer hover:text-openampred hover:underline hover:transition-all rounded-md"
    >
      Edit on Github
    </a>
  </div>
  <div class="flex flex-row flex-wrap justify-center items-center gap-3">
    <p class="h-full pt-4">Copyright @ 2022 Linaro Limited</p>
    <a
      href="https://www.linaro.org/legal/"
      class="cursor-pointer no-underline text-white hover:text-openampred hover:underline"
      >Legal</a
    >
    <a
      href="https://www.linaro.org/contact/"
      class="cursor-pointer no-underline text-white hover:text-openampred hover:underline"
      >Contact</a
    >
    <div class="flex flex-row h-full gap-5">
      <a href="https://www.linkedin.com/company/openamp" class="h-full">
        <Icon name="mdi:twitter" class="w-6 text-white hover:text-openampred" />
      </a>
      <a href="https://www.linkedin.com/company/openamp" class="h-full">
        <Icon
          name="mdi:facebook"
          class="w-6 text-white hover:text-openampred"
        />
      </a>
      <a href="https://www.linkedin.com/company/openamp" class="h-full">
        <Icon
          name="mdi:linkedin"
          class="w-6 text-white hover:text-openampred"
        />
      </a>
      <a href="https://github.com/OpenAMP/website">
        <Icon name="mdi:github" class="w-6 text-white hover:text-openampred" />
      </a>
      <a href="https://www.youtube.com/@openamp">
        <Icon name="mdi:youtube" class="w-6 text-white hover:text-openampred" />
      </a>
    </div>
  </div>
  <div class="flex flex-row justify-center my-4">
    <a href="/">
      <Image class="w-[80px]" src={LinaroLogo} alt="logo" />
    </a>
  </div>
</div>
